@media screen {
   img.print{
        display: none;
    }
    img.sceen{
        display: block;
    }
    .hidden-screen{
        display: none;
    }
}
@media print {
    table{ overflow: visible !important;
    display: inline ;}
    .hidden-print{
        display: none;
    }
    img.print{
        display: block;
    }
    img.sceen{
        display: none;
    }
    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
    }
    .myTable {
        margin-bottom: 0px;
    }
    .table {
        font-size: 13px;
        vertical-align: middle;
    }
    .table {
        width: 100%;
        max-width: 100%;
    }
    table {
        border-collapse: collapse;
    }
    table {
        background-color: transparent;
    }
    .sTable thead td:first-child {
        border-left: none;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
    .sTable thead td {
        border-bottom: 1px solid #cbcbcb;
        border-left: 1px solid #cbcbcb;
        background: #efefef url(../images/backgrounds/titleBg.png) repeat-x;
        color: #878787;
        font-size: 11px;
        color: #878787;
        font-weight: normal;
        padding: 3px 8px 2px 8px;
    }
    .sTable thead td {
        text-align: center;
    }
    .textC {
        text-align: center;
        border: 1px solid #ddd;
    }
    .sTable tbody td {
        border-left: 1px solid #e4e4e4;
    }
    .price {
        text-align: left;
    }
    .title_order_room tr td {
        border: 1px solid #e4e4e4;
    }
    td.textC {
        border: 1px solid #e4e4e4;
    }
    #page { overflow-y: visible; }
}